<footer class="page-footer">
    <div class="footer-inner">
      <div class="container">
        <div class="row">
          <div class="col s12 m6 l6">
            <h5>CaptureThought</h5>
            <span id="contact">
              <p><i class="fa fa-map-marker"></i> 39, Sharda Vihar Colony, Dayalbagh, Agra-282005</p>
              <p><i class="fa fa-phone"></i> Shivam Trivanshi +91-8755 811 415</p>
              <a class="mail"><i class="fa fa-envelope"></i> shivamtrivanshi2@gmail.com</a>
            </span>
          </div>
          <div class="col s12 m6 l6">
            <h5>LINKS</h5>
            <a href="/stories" class="btn hoverable  grey darken-4">stories</a>
            <a href="/about" class="btn hoverable grey darken-4">about</a>
            <p>"Create Your Public Or Private Diary And Share Your Thoughts With World"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 CaptureThoughts
      </div>
    </div>
</footer>