<% include ../layouts/header %>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card center" id="about-card">
                    <div class="card-content">
                        <h2>ABOUT US</h2>
                        <div class="divider divider-color"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card center">
                    
                    <div class="card-content">
                        <div class="card-title">DEVELOPED BY</div>
                        <div class="divider"></div>
                        <h5>Shivam Trivanshi</h5>
                        <p>Hey there, Welcome to CaptureThought I am a 21-year old web developer from agra and
                            I am passionate about everything related to web development.
                            CaptureThought is one of the best platform for creating personal diary online.
                        </p>
                        <br>
                        <p>Find Me:</p>
                            <a href="https://www.facebook.com/shivam.trivanshi" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                            <a href="https://twitter.com/STrivanshi" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-github fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>    
<% include ../layouts/footer %>
