<% include ../layouts/header %>
<main>
    <div class="container">
        <div class="row">
            <div class="card center">
                <div class="card-content">
                    <h1 class="not-found">404</h1>
                    <h2 class="center-align">oops!! Page Not Found</h2>
                    <a href="/" class="btn">Back</a>
                </div>
            </div>
        </div>
    </div>
</main>
<% include ../layouts/footer %>